
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Ensure fonts don't block rendering */
  @font-face {
    font-family: 'Inter';
    font-display: swap;
  }
  @font-face {
    font-family: 'JetBrains Mono';
    font-display: swap;
  }

  body {
    @apply bg-zinc-50 text-zinc-900 antialiased selection:bg-zinc-900 selection:text-white;
    font-family: 'Inter', sans-serif;
  }
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
